body {
  margin: 0;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 100;
  margin-bottom: 20px;
  background-color: black;
}
.container {
  margin-top: 150px;
}

h1 {
  color: #b92b27;
  text-align: center;
  cursor: pointer;
}

.post {
  background-color: bisque;
  width: 50%;
  height: 25;
  margin: auto;
  margin-top: 50px;
  /* margin-bottom: 20px; */
  padding-bottom: 10px;
  border: 2px solid black;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.user {
  margin-left: 1em;
}

.content {
  margin-left: 2em;
}

.button-container {
  display: flex;
}

.button {
  bottom: 10px;
  left: 400px;
  width: 110px;
  height: 25px;
  background: #4e9caf;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: large;
  line-height: 25px;
  /* margin: auto; */
  margin-left: 2em;
  margin-bottom: 5px;
  text-decoration: none;
}

.newpost {
  background-color: #b92b27;
  display: inline-block;
  position: sticky;
  left: 70em;
}

.btn-delete {
  background-color: rgb(190, 4, 4);
  border-radius: 50px;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
  /* display: flex; */
  /* align-self: center; */
  /* margin-right: 2em; */
  margin-left: 2em;
  margin-right: 1.2em;
  border: none;
}

.btn-delete i {
  margin: auto;
  font-size: 1.2em;
}
